.padded-box {
    border: 2px solid #FFa310;
    padding: 20px;
    color: #ffffff
}

.default-box {
    border: 2px solid #ffa310;
    color: #ffffff;
}

body {
    background-color: #0c1527;  
}

button{
    border: 1px solid blue;
}