body {
    background: #2ad907;
    background: linear-gradient(0deg, rgba(42, 217, 7, 1) 0%, rgba(9, 125, 16, 1) 49%, rgba(21, 99, 12, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}
h3 {
    color: #ffffff;
    text-decoration: underline;
}
p {
    color: #ffffff;
}
form {
    background-color: #6ae851;
    box-shadow: #065402 0px 0px 10px;
    padding: 30px;
    margin: 30px auto;
    display: inline-block;
    border-radius: 10px;
}

label {
    margin-left: 10px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}