#item1 {
    position: absolute;
    left: 10px;
    top: 20px;
}

#item2 {
    position: absolute;
    left: 50px;
    top: 60px;
}

#item3 {
    position: absolute;
    left: 80px;
    top: 120px; 
}

/* Posición estática por defecto */
#item4 {
    background-color: #0000FF;
    height: 100px;
    width: 300px;
}

#item5 {
    position: absolute;
    left: 50px;
    top: 40px;
    background-color: red;
    height: 100px;
    width: 300px;
}

body {
    font-family: Arial, sans-serif;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #cc005c;
    color: white;
    text-align: center;
}

.feed {
    margin-top: 50px;
    padding: 10px;
}

.post {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 10px;
}

.relative {
    width: 80%;
    margin: 10px 0px;
    border: 1px solid #747171;
    text-align: center;
}

.special {
    background-color: #FFd700;
    position: relative;
    /*shifr from left;*/
    left: 20px;
}