body {
    background-image: url("https://images.unsplash.com/photo-1603366615917-1fa6dad5c4fa?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color:aliceblue
}

.box1 {
    background-image: url("https://plus.unsplash.com/premium_photo-1733342561505-306871f4e706?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: repeat-y;
    background-size: contain;
    height: 500px;
    width: 500px;
    border: 1px solid white;
    margin-bottom: 10px;
}
.box2 {
    background-image: url("https://images.unsplash.com/photo-1493119508027-2b584f234d6c?q=80&w=580&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 500px;
    border: 1px solid white;
    margin-bottom: 10px;
}

.box3 {
    background-image: url("https://images.unsplash.com/photo-1688561807426-87333ae6e6c7?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: repeat-x;
    height: 500px;
    width: 500px;
    border: 1px solid white;
    margin-bottom: 10px;
}


.box4 {
    background-size: contain;
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1560221328-12fe60f83ab8?q=80&w=874&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
    border: 1px solid white;
}

