body {
    background-color: rgb(200, 200, 200);
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgb(1, 48, 16), rgb(2, 105, 21) 100% );
}



button {
    color: rgb(255, 255, 255);
    background-color: rgb(4, 148, 23);
    border-radius: 6px;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    margin: 10px auto;
    display: block;
}
button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(1, 96, 14);
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-align: center;
    width: fit-content;
    margin: auto;
}

form {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: bold;
}

input {
    font-size: 20px;
    padding: 3px;
    border-radius: 6px;
    border: none;
}
