#font1 {
    font-family: georgia;
}
#font2 {
    font-family: Tahoma;
}
#font3 {
    font-weight: bold;
    font-family: Lucida;
}
#font4 {
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}