a {
    display: block;
    border: #4478B1 solid;
    text-decoration: none;
}

img {
    box-shadow: 10px  1px 15px #adacac;
    border-radius: 2%;
    width: 40%;
    display: block;
}

.hola {
    border: blue solid;
    display: inline;
}

.todo {
    border: blue solid;
    display: inline;
}

div {
    border: 1px solid rgb(189, 185, 185);
    box-shadow: 0 2px 4px #000000;
    display: flex;
}

.p1 {
    border: 1px solid rgb(189, 185, 185);
    margin-left: 2px;
}

.container-row {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    margin-bottom: 25px;
}

.container-column {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;;
}

p {
    border: 1px solid rgb(150, 150, 150);
    padding: 8px;
    margin: 5px;
    font-size: 18px;
}

h2{
    border: 1px solid purple;
    box-shadow: 5px 5px #000000;
}

.buttons {
    border: 3px solid green;
    box-shadow: 5px 5px #000000;
    display: flex;
    flex-direction: column;
}

#nowrap {
    padding:20px;
    border: 1px solid rgb(189,185,185);
    display: flex;
    flex-wrap: nowrap;
}

#wrap {
    padding:20px;
    margin-bottom: 10px;
    border: 1px solid rgb(189,185,185);
    display: flex;
    flex-wrap: wrap;
}

.line {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    color:#ffffff
}

.btm {
    border: 1px solid rgb(198,185,185);
    box-shadow: 0 2px 4px #000000;
    background-color: rgb(247, 228, 203);
    margin: 5px;
    font-size: 30px;
}

#container {
    display: flex;
    border: 1px solid #333;
    padding: 10px;
    margin: 10px;
}

#small-content {
    border: 1px solid black;
    margin-right: 2px;
}

#container2 {
    border: 1px solid #818181;
    box-shadow: 2px 2px #474747;
    display: flex;
}

#item1 {
    flex-grow: 1;
    border: 1px solid #868686;
    box-shadow: 2px 2px black;
    margin-right: 10px;
    margin-left: 5px;
}

#item2 {
    flex-grow: 2;
    border: 1px solid #868686;
    box-shadow: 2px 2px black;
    margin-right: 10px;
}

#item3 {
    flex-grow: 3;
    border: 1px solid #868686;
    box-shadow: 2px 2px black;
    margin-right: 5px;
}