body{
    background-color: black;
    transition: 0.9s;
}

form { 
    background-color: #1d1d1d;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.336);
    border-radius: 5px;
    padding: 20px 28px;
    width: 480px;      /* ← tamaño medio-grande */
    margin: 40px auto; /* un poco de espacio arriba-abajo */
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    display: block;
}

input{
    color: rgb(92, 1, 1);
    border: 1px solid #666;
    border-radius: 5px;
    padding: 8px 10px;
    width: 90%;       
}

input:focus {
    border-color: rgb(241, 13, 13);
    outline: none;
    box-shadow: 0 0 5px rgba(241, 13, 13, 0.5);
}

button{
    background-color: rgb(241, 13, 13);
    font-weight: bold;
    color: white;
    border: 0px;
    width: 100px;
    height: 35px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(121, 3, 3);
}

input[type=email], input[type=text], label, button{
    display: block;
    margin: 15px auto;
}

input, button {
    border-radius: 15px 15px 0px 0px;  /* arriba-izquierda, arriba-derecha, abajo-derecha, abajo-izquierda*/
    transition: 0.3s;
}
